/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem

.rubocop-https---shopify-github-io-ruby-style-guide-rubocop-yml
packaging/builds
.vscode
*.DS_Store

# Theme Liquid docs live at git@github.com:Shopify/theme-liquid-docs.git,
/data/shopify_liquid/documentation/
